<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<ul>
  <li>
    Delete all your articles
    <%= button_to user_delete_all_articles_path(@user) do %>
      GO
    <% end %>
  </li>
  <li>
    <%= form_tag(user_delete_all_comments_path(@user), :method => :post) do %>
      Delete all your comments including <%= text_field_tag(:keyword) %>
      <%= submit_tag 'GO' %>
    <% end %>
  </li>
</ul>
<br />
<%= "Number of all articles: #{@stats[:all_articles]}" %>
<br />
<%= "Number of your articles: #{@stats[:your_artices]}" %>
<br />
<%= "Number of all comments: #{@stats[:all_comments]}" %>
<br />
<%= "Number of your comments: #{@stats[:your_comments]}" %>
